<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Climate Change Analyser</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css" >
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-dark">
	<span class="navbar-brand mb-0 h1">Climate Change Analyser</span>
      </nav>

      <div class="jumbotron">
	<h1 class="display-4">Data at Pune for this day: <span id="date_display"></span></h1>
	<p class="lead">Because data doesn't lie..</p>
      </div>
      
      <div class="container" style="margin-top: 10px">
	<div class="row text-center">
	  <div class="col-md-4 offset-md-4">
	    <div class="form-group">
	      <input type="date" class="form-control" id="show_date" placeholder="">
	    </div>
	  </div>
	</div>
      </div>

      <div class="container">
	<div class="row">
	  <div class="col-md-4">
	    <canvas id="tempChart" width="100" height="100"></canvas>
	    <div class="text-center">Temperature variations for this date</div>
	  </div>

	  <div class="col-md-4">
	    <canvas id="humidityChart" width="100" height="100"></canvas>
	    <div class="text-center">Humidity variations for this date</div>
	  </div>

	  <div class="col-md-4">
	    <canvas id="vehicleChart" width="100" height="100"></canvas>
	    <div class="text-center">No of total vehicles on this date</div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <canvas id="treeChart" width="100" height="100"></canvas>
	    <div class="text-center">Tree Cover variations for this date</div>
	  </div>

	  <div class="col-md-4">
	    <canvas id="populationChart" width="100" height="100"></canvas>
	    <div class="text-center">Population variations for this date</div>
	  </div>

	  <div class="col-md-4">
	    <canvas id="waterChart" width="100" height="100"></canvas>
	    <div class="text-center">Water Table variations on this date</div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <canvas id="ozoneChart" width="100" height="100"></canvas>
	    <div class="text-center">Ozone variations for this date</div>
	  </div>

	  <div class="col-md-4">
	    <canvas id="noxChart" width="100" height="100"></canvas>
	    <div class="text-center">NOx variations for this date</div>
	  </div>

	  <div class="col-md-4">
	    <canvas id="so2Chart" width="100" height="100"></canvas>
	    <div class="text-center">SO2 variations on this date</div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-4">
	    <canvas id="pm25Chart" width="100" height="100"></canvas>
	    <div class="text-center">PM2.5 variations for this date</div>
	  </div>

	  <div class="col-md-4">
	    <canvas id="pm10Chart" width="100" height="100"></canvas>
	    <div class="text-center">PM10 variations for this date</div>
	  </div>
	</div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
